* {
	box-sizing: border-box;
}

body {
	--color-primary: #0072c6;
	--color-primary-dark: #004b83;
	--color-primary-darker: #002e4f;
	--color-gray: rgb(114, 114, 114);
	--color-text: rgb(10, 10, 10);
	--color-light-gray: rgb(226, 226, 226);
	--color-background: rgb(252, 252, 252);
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Light'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format('woff2'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format('woff'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Semilight'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
			format('woff2'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
			format('woff'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
			format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format('woff2'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format('woff'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
			format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Semibold'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
			format('woff2'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format('woff'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
			format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Bold'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format('woff2'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format('woff'),
		url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format('truetype');
	font-weight: 700;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto,
		'Helvetica Neue', sans-serif;
}

a {
	text-decoration: none;
}

a:not(.button),
button.link {
	color: var(--color-primary);
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-weight: normal;
	line-height: inherit;
	font-size: inherit;

	&:hover {
		color: var(--color-primary-dark);
	}

	&:hover:active {
		color: var(--color-primary-darker);
	}
}

button.link {
	padding: 0;
	margin: 0;
	display: inline;
	transform: translateY(1px);
}

button:not(.link),
a.button,
input[type='submit'],
input[type='button'] {
	background-color: var(--color-primary);
	color: white;
	border: none;
	margin: 0;
	padding: 10px 15px;
	font-weight: 600;
	cursor: pointer;
	border-radius: 3px;
	border: transparent solid 1px;
	font-size: inherit;
	font-family: inherit;

	&:hover {
		background-color: var(--color-primary-dark);
		color: white;
	}

	&:hover:active {
		background-color: var(--color-primary-darker);
		color: white;
	}

	&.secondary {
		background-color: transparent;
		border: var(--color-primary) solid 1px;
		color: var(--color-primary);
		font-weight: normal;

		&:hover {
			background-color: var(--color-light-gray);
			color: var(--color-primary);
		}

		&:hover:active {
			background-color: var(--color-light-gray);
			color: var(--color-primary-dark);
		}
	}

	&.danger {
		background-color: #c43434;
		color: #ffffff;

		&:hover {
			background-color: #a42e2e;
		}

		&:hover:active {
			background-color: #5a1919;
		}
	}

	&:disabled,
	&.disabled {
		background-color: var(--color-light-gray);
		color: var(--color-gray);
		cursor: not-allowed;

		&:hover,
		&:hover:active {
			background-color: var(--color-light-gray);
			color: var(--color-gray);
		}
	}
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-weight: 600;
}

h2 {
	margin: 0;
	padding: 0;
	line-height: 2;
	font-size: 22px;
	font-weight: 600;
}

h3 {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-size: 18px;
	font-weight: 600;
}

.content {
	padding: 20px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

select,
.input-base {
	padding: 6px;
	border: 1px solid var(--color-light-gray);
	border-bottom: 2px solid var(--color-light-gray);
	border-radius: 4px;
	font-size: inherit;
	font-family: inherit;
	outline: none;

	&:focus {
		border-bottom: 2px solid var(--color-primary);
	}
}

input[type='text'],
input[type='email'],
input[type='time'],
input[type='number'] {
	width: 100%;
	@extend .input-base;
}

select {
	line-height: 1.7em;
	height: 1.7em;
	padding: 0 6px;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.2em;
}

input[type='checkbox'] {
	appearance: none;
	font-size: inherit;
	position: relative;
	padding: 0;
	margin-right: 4px;
	width: 1.9em;
	height: 1em;
	background-color: var(--color-background);
	border: 1px solid var(--color-gray);
	border-radius: 1em;
	display: inline flex;
	flex-direction: row;
	align-items: center;
	transition: background-color 200ms ease-in-out, border 200ms ease-in-out;
	cursor: pointer;

	&::before {
		content: '';
		display: inline-block;
		width: 0.7em;
		height: 0.7em;
		border-radius: 0.5em;
		background-color: var(--color-gray);
		margin-left: 0.125em;
		transition: background-color 200ms ease-out, margin-left 200ms ease-in-out;
	}

	&:checked {
		background-color: var(--color-primary);
		border: 1px solid var(--color-primary);

		&::before {
			background-color: var(--color-background);
			margin-left: 1em;
		}
	}

	&:hover {
		background-color: var(--color-light-gray);

		&:checked {
			background-color: var(--color-primary-dark);
			border: 1px solid var(--color-primary-dark);
		}
	}

	&:disabled,
	&:disabled:hover,
	&:checked:disabled {
		background-color: var(--color-background);
		border: 1px solid var(--color-light-gray);
		cursor: not-allowed;

		&::before {
			background-color: var(--color-gray);
		}
	}
}

summary {
	cursor: pointer;
	font-weight: bold;
}
